body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #24292e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

.user-details {
    margin-bottom: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0366d6;
}

.user-bio {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.user-location, .user-urls {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.user-urls a {
    text-decoration: none;
    color: #0366d6;
    margin-right: 10px;
}

.user-urls a:hover {
    text-decoration: underline;
}

.repo-card {
    border: 1px solid #02359c;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.repo-card header {
    background-color: #f6f8fa;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.repo-card main {
    padding: 15px;
}

.repo-topics {
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    display: inline-block;
    padding: 8px;
    margin: 0 5px;
    background-color: #0366d6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.page-link:hover {
    background-color: #205493;
}

.page-link.active {
    background-color: #0366d6;
    color: #fff;
}

.page-btn {
    padding: 8px;
    margin: 0 5px;
    background-color: #0366d6;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page-btn:hover {
    background-color: #205493;
}

.topic-block {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    background-color: #0366d6;
    color: #fff;
    border-radius: 3px;
}